.tooltip {
  -moz-appearance: none !important; 
  height: 100%; 
  width: 100%; 
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
  background-color: transparent !important;
  border: transparent !important;
}

.div-notify {
  -moz-border-radius-topright: 5px;
  height: 15px; 
  width: 100%; 
  margin: 0px 0px 0px 0px; 
  padding-left: 5px;
  padding-right: 5px;
  background-color: #DBE8F9;
  /*color: #3E5C91;*/
  color: #2E4C71;
  border: 1px solid #A2B5D5 !important;
}

.label {
  font-size: .95em;
  margin-left: -3px;
}

.mybutton {
  -moz-appearance: none !important;
  border: none !important;
  padding: 0 0 0 0 !important;
  padding-left: 0px !important;
  border: 0 !important;
  -moz-appearance: none;
  background: url("chrome://chromifox/skin/images/tabs-bg.png") repeat-x !important;
}
.mybutton > image {
  margin-top: -10px;
}

.closebtn {
  list-style-image: url("chrome://chromifox/skin/images/btn-close.png");
}
.minimizebtn {
  list-style-image: url("chrome://chromifox/skin/images/btn-minimize.png");
}
.maximizebtn {
  list-style-image: url("chrome://chromifox/skin/images/btn-maximize.png");
}
.closebtn:hover {
  list-style-image: url("chrome://chromifox/skin/images/btn-close-hover.png");
}
.minimizebtn:hover {
  list-style-image: url("chrome://chromifox/skin/images/btn-minimize-hover.png");
}
.maximizebtn:hover {
  list-style-image: url("chrome://chromifox/skin/images/btn-maximize-hover.png");
}
